body{
background-color:chocolate;
}

h1{
    text-align: center;
}

#sketch {
    display: grid;
    width: 420px;
    height: 420px;
    border: 1em solid saddlebrown;
    background-color: white;
    margin: 1px;
}

.gridCell{
    display: block;
}

.paint {
padding-top: 1em;
padding-bottom: 1em;
display: flex;
justify-content: space-around;
 background-color:saddlebrown;
}

#colorPicker{
border: none;
padding:none;
}

#gridSize{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
}

button {
border-radius: 100%;
border:none;
padding: 25px;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

