h1{
    text-align: center;
}

#sketch {
    display: grid;
    width: 420px;
    height: 420px;
    border: 1px solid black;
}

.gridCell{
    display: block;
}

.paint {
display: flex;
justify-content: space-around;
}